{
    "openapi": "3.1.0",
    "info": {
        "title": "Gestion RRHH API v2",
        "version": "2.0.0",
        "description": "API de Gestion RRHH (Permisos, Incapacidades, Vacaciones y Novedades)."
    },
    "servers": [
        {
            "url": "https://autogestion.copetran.com.co/gestion/api/v2",
            "description": "Local"
        }
    ],
    "paths": {
        "/empleados/incapacidades": {
            "get": {
                "operationId": "v2.empleados.incapacidades.index",
                "tags": [
                    "EmpleadoIncapacidadApi"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id_detalle": {
                                                        "type": "string"
                                                    },
                                                    "id_novedad": {
                                                        "type": "string"
                                                    },
                                                    "documento_empleado": {
                                                        "type": "string"
                                                    },
                                                    "nombre_empleado": {
                                                        "type": "string"
                                                    },
                                                    "causa_id": {
                                                        "type": "string"
                                                    },
                                                    "causa": {
                                                        "type": "string"
                                                    },
                                                    "diagnostico_id": {
                                                        "type": "string"
                                                    },
                                                    "diagnostico_codigo": {
                                                        "type": "string"
                                                    },
                                                    "diagnostico": {
                                                        "type": "string"
                                                    },
                                                    "eps_id": {
                                                        "type": "string"
                                                    },
                                                    "eps": {
                                                        "type": "string"
                                                    },
                                                    "arl_id": {
                                                        "type": "string"
                                                    },
                                                    "arl": {
                                                        "type": "string"
                                                    },
                                                    "tipo_incapacidad": {
                                                        "type": "string"
                                                    },
                                                    "estado": {
                                                        "type": "string"
                                                    },
                                                    "fecha_inicio": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "fecha_fin": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "dias_incapacidad": {
                                                        "type": [
                                                            "integer",
                                                            "null"
                                                        ]
                                                    },
                                                    "fecha_registro": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "hora_registro": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "adjuntos": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "id_documento": {
                                                                    "type": "string"
                                                                },
                                                                "tipo_documento_id": {
                                                                    "type": "string"
                                                                },
                                                                "tipo_documento": {
                                                                    "type": "string"
                                                                },
                                                                "ruta_documento": {
                                                                    "type": "string"
                                                                },
                                                                "fecha_registro": {
                                                                    "type": [
                                                                        "string",
                                                                        "null"
                                                                    ]
                                                                }
                                                            },
                                                            "required": [
                                                                "id_documento",
                                                                "tipo_documento_id",
                                                                "tipo_documento",
                                                                "ruta_documento",
                                                                "fecha_registro"
                                                            ]
                                                        }
                                                    }
                                                },
                                                "required": [
                                                    "id_detalle",
                                                    "id_novedad",
                                                    "documento_empleado",
                                                    "nombre_empleado",
                                                    "causa_id",
                                                    "causa",
                                                    "diagnostico_id",
                                                    "diagnostico_codigo",
                                                    "diagnostico",
                                                    "eps_id",
                                                    "eps",
                                                    "arl_id",
                                                    "arl",
                                                    "tipo_incapacidad",
                                                    "estado",
                                                    "fecha_inicio",
                                                    "fecha_fin",
                                                    "dias_incapacidad",
                                                    "fecha_registro",
                                                    "hora_registro",
                                                    "adjuntos"
                                                ]
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer"
                                                },
                                                "per_page": {
                                                    "type": "integer"
                                                },
                                                "last_page": {
                                                    "type": "integer"
                                                },
                                                "total": {
                                                    "type": "integer"
                                                },
                                                "count": {
                                                    "type": "integer"
                                                },
                                                "has_more": {
                                                    "type": "boolean"
                                                },
                                                "next_page_url": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "prev_page_url": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "current_page",
                                                "per_page",
                                                "last_page",
                                                "total",
                                                "count",
                                                "has_more",
                                                "next_page_url",
                                                "prev_page_url"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "ok": {
                                                    "type": "boolean"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "const": "El parametro estado no es valido."
                                                }
                                            },
                                            "required": [
                                                "ok",
                                                "message"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "ok": {
                                                    "type": "boolean"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "const": "Debes enviar documento_persona (alias: identificacion, documento_usuario)."
                                                }
                                            },
                                            "required": [
                                                "ok",
                                                "message"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "v2.empleados.incapacidades.store",
                "tags": [
                    "EmpleadoIncapacidadApi"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreEmpleadoIncapacidadApiRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "ok": {
                                                    "type": "boolean"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id_incapacidad": {
                                                            "type": "string"
                                                        },
                                                        "id_detalle": {
                                                            "type": "string"
                                                        },
                                                        "id_novedad": {
                                                            "type": "string"
                                                        },
                                                        "estado": {
                                                            "type": "string"
                                                        },
                                                        "adjuntos": {
                                                            "type": "object",
                                                            "properties": {
                                                                "guardados": {
                                                                    "type": "integer"
                                                                },
                                                                "items": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": [
                                                                            "object",
                                                                            "null"
                                                                        ],
                                                                        "properties": {
                                                                            "id": {
                                                                                "type": "string"
                                                                            },
                                                                            "id_novedad": {
                                                                                "type": "string"
                                                                            },
                                                                            "id_tipo_documento": {
                                                                                "type": "string"
                                                                            },
                                                                            "tipo_documento": {
                                                                                "type": "string"
                                                                            },
                                                                            "ruta_documento": {
                                                                                "type": "string"
                                                                            },
                                                                            "fuente": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "id",
                                                                            "id_novedad",
                                                                            "id_tipo_documento",
                                                                            "tipo_documento",
                                                                            "ruta_documento",
                                                                            "fuente"
                                                                        ]
                                                                    }
                                                                }
                                                            },
                                                            "required": [
                                                                "guardados",
                                                                "items"
                                                            ]
                                                        }
                                                    },
                                                    "required": [
                                                        "id_incapacidad",
                                                        "id_detalle",
                                                        "id_novedad",
                                                        "estado",
                                                        "adjuntos"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "ok",
                                                "message",
                                                "data"
                                            ]
                                        },
                                        {
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/empleados/incapacidades/radicar": {
            "post": {
                "operationId": "v2.empleados.incapacidades.radicar",
                "tags": [
                    "EmpleadoIncapacidadApi"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreEmpleadoIncapacidadApiRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "ok": {
                                                    "type": "boolean"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id_incapacidad": {
                                                            "type": "string"
                                                        },
                                                        "id_detalle": {
                                                            "type": "string"
                                                        },
                                                        "id_novedad": {
                                                            "type": "string"
                                                        },
                                                        "estado": {
                                                            "type": "string"
                                                        },
                                                        "adjuntos": {
                                                            "type": "object",
                                                            "properties": {
                                                                "guardados": {
                                                                    "type": "integer"
                                                                },
                                                                "items": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": [
                                                                            "object",
                                                                            "null"
                                                                        ],
                                                                        "properties": {
                                                                            "id": {
                                                                                "type": "string"
                                                                            },
                                                                            "id_novedad": {
                                                                                "type": "string"
                                                                            },
                                                                            "id_tipo_documento": {
                                                                                "type": "string"
                                                                            },
                                                                            "tipo_documento": {
                                                                                "type": "string"
                                                                            },
                                                                            "ruta_documento": {
                                                                                "type": "string"
                                                                            },
                                                                            "fuente": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "id",
                                                                            "id_novedad",
                                                                            "id_tipo_documento",
                                                                            "tipo_documento",
                                                                            "ruta_documento",
                                                                            "fuente"
                                                                        ]
                                                                    }
                                                                }
                                                            },
                                                            "required": [
                                                                "guardados",
                                                                "items"
                                                            ]
                                                        }
                                                    },
                                                    "required": [
                                                        "id_incapacidad",
                                                        "id_detalle",
                                                        "id_novedad",
                                                        "estado",
                                                        "adjuntos"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "ok",
                                                "message",
                                                "data"
                                            ]
                                        },
                                        {
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/empleados/incapacidades/radicar/schema": {
            "get": {
                "operationId": "v2.empleados.incapacidades.radicar.schema",
                "tags": [
                    "EmpleadoIncapacidadApi"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "metodo": {
                                                    "type": "string",
                                                    "const": "POST"
                                                },
                                                "endpoint": {
                                                    "type": "string",
                                                    "const": "/api/v2/empleados/incapacidades/radicar"
                                                },
                                                "headers": {
                                                    "type": "object",
                                                    "properties": {
                                                        "Accept": {
                                                            "type": "string",
                                                            "const": "application/json"
                                                        },
                                                        "Content-Type": {
                                                            "type": "string",
                                                            "const": "multipart/form-data"
                                                        },
                                                        "Authorization": {
                                                            "type": "string",
                                                            "const": "Bearer {jwt_token}"
                                                        }
                                                    },
                                                    "required": [
                                                        "Accept",
                                                        "Content-Type",
                                                        "Authorization"
                                                    ]
                                                },
                                                "scope_requerido": {
                                                    "type": "string",
                                                    "const": "empleados.incapacidades"
                                                },
                                                "campos_requeridos": {
                                                    "type": "object",
                                                    "properties": {
                                                        "documento_actor": {
                                                            "type": "string",
                                                            "const": "string (quien radica)"
                                                        },
                                                        "documento_persona": {
                                                            "type": "string",
                                                            "const": "string"
                                                        },
                                                        "causa_id": {
                                                            "type": "string",
                                                            "const": "string"
                                                        },
                                                        "diagnostico_id": {
                                                            "type": "string",
                                                            "const": "string"
                                                        },
                                                        "eps_id": {
                                                            "type": "string",
                                                            "const": "string"
                                                        },
                                                        "arl_id": {
                                                            "type": "string",
                                                            "const": "string"
                                                        },
                                                        "tipo_incapacidad": {
                                                            "type": "string"
                                                        },
                                                        "fecha_inicio": {
                                                            "type": "string",
                                                            "const": "Y-m-d"
                                                        },
                                                        "fecha_fin": {
                                                            "type": "string",
                                                            "const": "Y-m-d"
                                                        }
                                                    },
                                                    "required": [
                                                        "documento_actor",
                                                        "documento_persona",
                                                        "causa_id",
                                                        "diagnostico_id",
                                                        "eps_id",
                                                        "arl_id",
                                                        "tipo_incapacidad",
                                                        "fecha_inicio",
                                                        "fecha_fin"
                                                    ]
                                                },
                                                "campos_opcionales": {
                                                    "type": "object",
                                                    "properties": {
                                                        "nombre_actor": {
                                                            "type": "string",
                                                            "const": "string"
                                                        },
                                                        "documento_radica": {
                                                            "type": "string",
                                                            "const": "string (alias de documento_actor)"
                                                        },
                                                        "documento_usuario": {
                                                            "type": "string",
                                                            "const": "string (alias de documento_actor)"
                                                        },
                                                        "identificacion": {
                                                            "type": "string",
                                                            "const": "string (alias de documento_persona)"
                                                        },
                                                        "nombre_usuario": {
                                                            "type": "string",
                                                            "const": "string (alias de nombre_actor)"
                                                        },
                                                        "observacion": {
                                                            "type": "string",
                                                            "const": "string|max:255"
                                                        },
                                                        "sistema_origen": {
                                                            "type": "string",
                                                            "const": "string"
                                                        },
                                                        "ip_equipo": {
                                                            "type": "string",
                                                            "const": "string"
                                                        },
                                                        "adjuntos[][tipo_documento_id]": {
                                                            "type": "string",
                                                            "const": "string"
                                                        },
                                                        "adjuntos[][archivo]": {
                                                            "type": "string",
                                                            "const": "file(pdf,jpg,jpeg,png|max:10MB)"
                                                        }
                                                    },
                                                    "required": [
                                                        "nombre_actor",
                                                        "documento_radica",
                                                        "documento_usuario",
                                                        "identificacion",
                                                        "nombre_usuario",
                                                        "observacion",
                                                        "sistema_origen",
                                                        "ip_equipo",
                                                        "adjuntos[][tipo_documento_id]",
                                                        "adjuntos[][archivo]"
                                                    ]
                                                },
                                                "catalogos_endpoint": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "metodo",
                                                "endpoint",
                                                "headers",
                                                "scope_requerido",
                                                "campos_requeridos",
                                                "campos_opcionales",
                                                "catalogos_endpoint"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "data"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/empleados/incapacidades/catalogos": {
            "get": {
                "operationId": "v2.empleados.incapacidades.catalogos",
                "tags": [
                    "EmpleadoIncapacidadApi"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "causas": {
                                                    "type": "array",
                                                    "items": {}
                                                },
                                                "diagnosticos": {
                                                    "type": "array",
                                                    "items": {}
                                                },
                                                "eps": {
                                                    "type": "array",
                                                    "items": {}
                                                },
                                                "arl": {
                                                    "type": "array",
                                                    "items": {}
                                                },
                                                "tipos_incapacidad": {
                                                    "type": "object",
                                                    "properties": {
                                                        "INICIO": {
                                                            "type": "string",
                                                            "const": "INICIO"
                                                        },
                                                        "PRORROGA": {
                                                            "type": "string",
                                                            "const": "PRORROGA"
                                                        }
                                                    },
                                                    "required": [
                                                        "INICIO",
                                                        "PRORROGA"
                                                    ]
                                                },
                                                "tipos_documento": {
                                                    "type": "array",
                                                    "items": {}
                                                },
                                                "tipos_documento_por_grupo": {
                                                    "type": "object",
                                                    "properties": {
                                                        "DOCUMENTOS-INCAPACIDAD": {
                                                            "type": "array",
                                                            "items": {}
                                                        },
                                                        "DOCUMENTOS-INCAPACIDAD-MP": {
                                                            "type": "array",
                                                            "items": {}
                                                        },
                                                        "DOCUMENTOS-INCAPACIDAD-AT": {
                                                            "type": "array",
                                                            "items": {}
                                                        }
                                                    },
                                                    "required": [
                                                        "DOCUMENTOS-INCAPACIDAD",
                                                        "DOCUMENTOS-INCAPACIDAD-MP",
                                                        "DOCUMENTOS-INCAPACIDAD-AT"
                                                    ]
                                                },
                                                "documentos_por_causa": {
                                                    "type": "array",
                                                    "items": {}
                                                }
                                            },
                                            "required": [
                                                "causas",
                                                "diagnosticos",
                                                "eps",
                                                "arl",
                                                "tipos_incapacidad",
                                                "tipos_documento",
                                                "tipos_documento_por_grupo",
                                                "documentos_por_causa"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "data"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/empleados/permisos": {
            "get": {
                "operationId": "v2.empleados.permisos.index",
                "tags": [
                    "EmpleadoSolicitudApi"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "string"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "string"
                                                },
                                                "per_page": {
                                                    "type": "string"
                                                },
                                                "last_page": {
                                                    "type": "string"
                                                },
                                                "total": {
                                                    "type": "string"
                                                },
                                                "count": {
                                                    "type": "string"
                                                },
                                                "has_more": {
                                                    "type": "string"
                                                },
                                                "next_page_url": {
                                                    "type": "string"
                                                },
                                                "prev_page_url": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "current_page",
                                                "per_page",
                                                "last_page",
                                                "total",
                                                "count",
                                                "has_more",
                                                "next_page_url",
                                                "prev_page_url"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "ok": {
                                                    "type": "boolean"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "const": "El parametro estado_flujo no es valido."
                                                }
                                            },
                                            "required": [
                                                "ok",
                                                "message"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "ok": {
                                                    "type": "boolean"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "const": "Debes enviar documento_actor (alias: documento_usuario, documento_persona, identificacion)."
                                                }
                                            },
                                            "required": [
                                                "ok",
                                                "message"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "v2.empleados.permisos.store",
                "tags": [
                    "EmpleadoSolicitudApi"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreEmpleadoPermisoApiRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "ok": {
                                                    "type": "boolean"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id_novedad": {
                                                            "type": "string"
                                                        },
                                                        "estado": {
                                                            "type": "string"
                                                        },
                                                        "radicado_por": {
                                                            "type": "object",
                                                            "properties": {
                                                                "documento": {
                                                                    "type": "string"
                                                                },
                                                                "nombre": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "documento",
                                                                "nombre"
                                                            ]
                                                        },
                                                        "adjuntos": {
                                                            "type": "object",
                                                            "properties": {
                                                                "ok": {
                                                                    "type": "boolean"
                                                                },
                                                                "guardados": {
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "required": [
                                                                "ok",
                                                                "guardados"
                                                            ]
                                                        },
                                                        "jefe_directo": {
                                                            "type": [
                                                                "object",
                                                                "null"
                                                            ],
                                                            "properties": {
                                                                "identificacion": {
                                                                    "type": "string"
                                                                },
                                                                "nombre": {
                                                                    "type": "string"
                                                                },
                                                                "correo": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "identificacion",
                                                                "nombre",
                                                                "correo"
                                                            ]
                                                        },
                                                        "notificacion_email_enviada": {
                                                            "type": "boolean"
                                                        }
                                                    },
                                                    "required": [
                                                        "id_novedad",
                                                        "estado",
                                                        "radicado_por",
                                                        "adjuntos",
                                                        "jefe_directo",
                                                        "notificacion_email_enviada"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "ok",
                                                "message",
                                                "data"
                                            ]
                                        },
                                        {
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/empleados/novedades": {
            "get": {
                "operationId": "v2.empleados.novedades.index",
                "tags": [
                    "EmpleadoSolicitudApi"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        },
                                        "data": {
                                            "type": "string"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "string"
                                                },
                                                "per_page": {
                                                    "type": "string"
                                                },
                                                "last_page": {
                                                    "type": "string"
                                                },
                                                "total": {
                                                    "type": "string"
                                                },
                                                "count": {
                                                    "type": "string"
                                                },
                                                "has_more": {
                                                    "type": "string"
                                                },
                                                "next_page_url": {
                                                    "type": "string"
                                                },
                                                "prev_page_url": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "current_page",
                                                "per_page",
                                                "last_page",
                                                "total",
                                                "count",
                                                "has_more",
                                                "next_page_url",
                                                "prev_page_url"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "ok": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "const": "No tienes autorizacion para consultar novedades de otra persona."
                                        }
                                    },
                                    "required": [
                                        "ok",
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "ok": {
                                                    "type": "boolean"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "const": "El parametro estado no es valido."
                                                }
                                            },
                                            "required": [
                                                "ok",
                                                "message"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "ok": {
                                                    "type": "boolean"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "const": "El parametro tipo no es valido."
                                                }
                                            },
                                            "required": [
                                                "ok",
                                                "message"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "ok": {
                                                    "type": "boolean"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "const": "No puedes combinar solo_aprobadas y solo_no_aprobadas al mismo tiempo."
                                                }
                                            },
                                            "required": [
                                                "ok",
                                                "message"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "ok": {
                                                    "type": "boolean"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "const": "Error de validacion."
                                                },
                                                "errors": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "ok",
                                                "message",
                                                "errors"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/empleados/permisos/radicar": {
            "post": {
                "operationId": "v2.empleados.permisos.radicar",
                "tags": [
                    "EmpleadoSolicitudApi"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreEmpleadoPermisoApiRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "ok": {
                                                    "type": "boolean"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id_novedad": {
                                                            "type": "string"
                                                        },
                                                        "estado": {
                                                            "type": "string"
                                                        },
                                                        "radicado_por": {
                                                            "type": "object",
                                                            "properties": {
                                                                "documento": {
                                                                    "type": "string"
                                                                },
                                                                "nombre": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "documento",
                                                                "nombre"
                                                            ]
                                                        },
                                                        "adjuntos": {
                                                            "type": "object",
                                                            "properties": {
                                                                "ok": {
                                                                    "type": "boolean"
                                                                },
                                                                "guardados": {
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "required": [
                                                                "ok",
                                                                "guardados"
                                                            ]
                                                        },
                                                        "jefe_directo": {
                                                            "type": [
                                                                "object",
                                                                "null"
                                                            ],
                                                            "properties": {
                                                                "identificacion": {
                                                                    "type": "string"
                                                                },
                                                                "nombre": {
                                                                    "type": "string"
                                                                },
                                                                "correo": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "identificacion",
                                                                "nombre",
                                                                "correo"
                                                            ]
                                                        },
                                                        "notificacion_email_enviada": {
                                                            "type": "boolean"
                                                        }
                                                    },
                                                    "required": [
                                                        "id_novedad",
                                                        "estado",
                                                        "radicado_por",
                                                        "adjuntos",
                                                        "jefe_directo",
                                                        "notificacion_email_enviada"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "ok",
                                                "message",
                                                "data"
                                            ]
                                        },
                                        {
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/empleados/vacaciones": {
            "post": {
                "operationId": "v2.empleados.vacaciones.store",
                "tags": [
                    "EmpleadoSolicitudApi"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreEmpleadoVacacionApiRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "ok": {
                                                    "type": "boolean"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "enum": [
                                                        "Vacaciones radicadas correctamente.",
                                                        "Vacaciones radicadas correctamente. No fue posible enviar la notificacion por correo."
                                                    ]
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id_novedad": {
                                                            "type": "string"
                                                        },
                                                        "id_detalle": {
                                                            "type": "string"
                                                        },
                                                        "estado": {
                                                            "type": "string"
                                                        },
                                                        "radicado_por": {
                                                            "type": "object",
                                                            "properties": {
                                                                "documento": {
                                                                    "type": "string"
                                                                },
                                                                "nombre": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "documento",
                                                                "nombre"
                                                            ]
                                                        },
                                                        "requiere_aprobacion_rrhh": {
                                                            "type": "boolean"
                                                        },
                                                        "aprobador": {
                                                            "type": [
                                                                "object",
                                                                "null"
                                                            ],
                                                            "properties": {
                                                                "tipo": {
                                                                    "type": "string"
                                                                },
                                                                "documento": {
                                                                    "type": "string"
                                                                },
                                                                "nombre": {
                                                                    "type": "string"
                                                                },
                                                                "correo": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "tipo",
                                                                "documento",
                                                                "nombre",
                                                                "correo"
                                                            ]
                                                        },
                                                        "carta": {
                                                            "type": "object",
                                                            "properties": {
                                                                "ok": {
                                                                    "type": "boolean"
                                                                },
                                                                "ruta_documento": {
                                                                    "type": "string"
                                                                },
                                                                "tipo_documento_id": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "ok",
                                                                "ruta_documento",
                                                                "tipo_documento_id"
                                                            ]
                                                        },
                                                        "notificacion_email_enviada": {
                                                            "type": "boolean"
                                                        }
                                                    },
                                                    "required": [
                                                        "id_novedad",
                                                        "id_detalle",
                                                        "estado",
                                                        "radicado_por",
                                                        "requiere_aprobacion_rrhh",
                                                        "aprobador",
                                                        "carta",
                                                        "notificacion_email_enviada"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "ok",
                                                "message",
                                                "data"
                                            ]
                                        },
                                        {
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/empleados/vacaciones/radicar": {
            "post": {
                "operationId": "v2.empleados.vacaciones.radicar",
                "tags": [
                    "EmpleadoSolicitudApi"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreEmpleadoVacacionApiRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "ok": {
                                                    "type": "boolean"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "enum": [
                                                        "Vacaciones radicadas correctamente.",
                                                        "Vacaciones radicadas correctamente. No fue posible enviar la notificacion por correo."
                                                    ]
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id_novedad": {
                                                            "type": "string"
                                                        },
                                                        "id_detalle": {
                                                            "type": "string"
                                                        },
                                                        "estado": {
                                                            "type": "string"
                                                        },
                                                        "radicado_por": {
                                                            "type": "object",
                                                            "properties": {
                                                                "documento": {
                                                                    "type": "string"
                                                                },
                                                                "nombre": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "documento",
                                                                "nombre"
                                                            ]
                                                        },
                                                        "requiere_aprobacion_rrhh": {
                                                            "type": "boolean"
                                                        },
                                                        "aprobador": {
                                                            "type": [
                                                                "object",
                                                                "null"
                                                            ],
                                                            "properties": {
                                                                "tipo": {
                                                                    "type": "string"
                                                                },
                                                                "documento": {
                                                                    "type": "string"
                                                                },
                                                                "nombre": {
                                                                    "type": "string"
                                                                },
                                                                "correo": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "tipo",
                                                                "documento",
                                                                "nombre",
                                                                "correo"
                                                            ]
                                                        },
                                                        "carta": {
                                                            "type": "object",
                                                            "properties": {
                                                                "ok": {
                                                                    "type": "boolean"
                                                                },
                                                                "ruta_documento": {
                                                                    "type": "string"
                                                                },
                                                                "tipo_documento_id": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "ok",
                                                                "ruta_documento",
                                                                "tipo_documento_id"
                                                            ]
                                                        },
                                                        "notificacion_email_enviada": {
                                                            "type": "boolean"
                                                        }
                                                    },
                                                    "required": [
                                                        "id_novedad",
                                                        "id_detalle",
                                                        "estado",
                                                        "radicado_por",
                                                        "requiere_aprobacion_rrhh",
                                                        "aprobador",
                                                        "carta",
                                                        "notificacion_email_enviada"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "ok",
                                                "message",
                                                "data"
                                            ]
                                        },
                                        {
                                            "type": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/empleados/solicitudes/{idNovedad}/anular": {
            "post": {
                "operationId": "v2.empleados.solicitudes.anular",
                "tags": [
                    "EmpleadoSolicitudApi"
                ],
                "parameters": [
                    {
                        "name": "idNovedad",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "ok": {
                                                    "type": "boolean"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "data": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id_novedad": {
                                                            "type": "string"
                                                        },
                                                        "tipo": {
                                                            "type": "string"
                                                        },
[...]
