:root {
    --darkmode-bg-main: #1e1e1e;
    --darkmode-bg-secondary: #2c3643;
    --darkmode-bg-lightdark: #454d55;
    --darkmode-input: #343a40;
    --darkmode-text: #f1f1f1;
}

/* Dark mode estilos (general) */
body.dark-mode,
body.dark-mode .preloader {
    background-color: var(--darkmode-bg-main);
    color: var(--darkmode-text);
}

body.dark-mode .toggleDarkMode{
    color: var(--darkmode-text) !important;
}

body.dark-mode #toggleDarkMode i{
    color: var(--darkmode-text) !important;
}

body.dark-mode input::placeholder {
    color: var(--darkmode-text);
    opacity: 1; 
}

body.dark-mode .container-fluid,
body.dark-mode .container-fluid > div{
    border: none !important;
}

body.dark-mode .container-fluid div,
body.dark-mode .login-container div{
    background-color: var(--darkmode-bg-main);
    color: var(--darkmode-text);
}

body.dark-mode .modal-content .container-fluid{
    background-color: var(--darkmode-bg-main) !important;
}

body.dark-mode .container-fluid .tableContainer{
    background-color: var(--darkmode-bg-main) !important;
}

body.dark-mode .container-fluid td {
    background-color: var(--darkmode-bg-secondary);
    color: var(--darkmode-text);
}

body.dark-mode .container-fluid form{
    background-color: var(--darkmode-bg-main);
}

body.dark-mode .container-fluid td div{
    background-color: var(--darkmode-bg-secondary);
    color: var(--darkmode-text);
}

body.dark-mode .container-fluid .botonBoostrapTable{
    color: var(--darkmode-bg-main) !important;
}

body.dark-mode .modal-body{
    background-color: var(--darkmode-bg-main) !important;
}

body.dark-mode .modal-body .table{
    background-color: var(--darkmode-bg-main) !important;
    color: var(--darkmode-text) !important;
}

body.dark-mode .breadcrumbs{
    color: var(--darkmode-text);
}

/* Menu lateral */
body.dark-mode .main-sidebar {
    background-color: var(--darkmode-bg-main) !important;
}

body.dark-mode .main-sidebar .module{
    background-color: #272727 !important;
}

body.dark-mode .main-sidebar .nav-link i{
    color: var(--darkmode-text) !important;
}

body.dark-mode .main-sidebar .nav-sidebar .nav-link p{
    color: var(--darkmode-text) !important;
}

body.dark-mode .main-sidebar .nav-sidebar .nav-link.active{
    background-color: var(--darkmode-bg-secondary) !important;
}

body.dark-mode .main-sidebar .nav-sidebar .nav-link.active i{
    color: var(--darkmode-text) !important;
}

body.dark-mode .sessionButton{
    background-color: #272727 !important;
}

/* Componente card */
body.dark-mode .container-fluid .optionsMenu div{
    background-color: var(--darkmode-bg-lightdark);
}

body.dark-mode .container-fluid .optionsMenu .cardComponent{
    background-color: var(--darkmode-bg-main);
}

body.dark-mode .container-fluid .optionsMenu .cardComponent div{
    background-color: var(--darkmode-bg-main);
}

/* Select options */
body.dark-mode option{
    background-color: var(--darkmode-bg-main);
    border: none !important;
}

body.dark-mode option:hover{
    background-color: var(--darkmode-bg-lightdark);
}

body.dark-mode .select2-selection,
body.dark-mode .form-select{
    background-color: var(--darkmode-input);
}

body.dark-mode .select2-selection[aria-disabled="true"],
body.dark-mode .form-select:disabled {
    background-color: var(--darkmode-bg-main);
    cursor: not-allowed;
}

body.dark-mode .select2-selection__rendered{
    color: var(--darkmode-text) !important;
}

/* Loader bootstrap table */
body.dark-mode .fixed-table-loading {
    background-color: var(--darkmode-bg-main) !important;
    color: var(--darkmode-text) !important;
    border: none !important;
}

/* Detail view bootstrap table */
body.dark-mode .detail-view div{
    background-color: var(--darkmode-input) !important;
}

/* Bootstrap table */
body.dark-mode .bootstrap-table .detail{
    background-color: var(--darkmode-bg-main) !important;
}

body.dark-mode .bootstrap-table .page-link{
    color: var(--darkmode-text) !important;
}

body.dark-mode .horaComponent{
    color: var(--darkmode-text) !important;
    font-weight: bold;
}

body.dark-mode a{
    color: var(--darkmode-text);
}

body.dark-mode .rolCreate p{
    color: var(--darkmode-text) !important;
}

/* Logo Cope */
body.dark-mode .logoCope{
    display:none;
}

body.dark-mode .logoCopeBlanco{
    display: block !important;
}

/* Loader */
body.dark-mode .spinner-border{
    color: var(--darkmode-text) !important;
}

/* Login styles */
body.dark-mode .login-container .card{
    background-color: var(--darkmode-bg-lightdark);
    color: var(--darkmode-text);
}

body.dark-mode .login-container .card p{
    color: var(--darkmode-text) !important;
}

body.dark-mode .login-container input{
    background-color: var(--darkmode-bg-main);
    color: var(--darkmode-text);
}

body.dark-mode .login-container .input-group-text{
    background-color: var(--darkmode-bg-secondary);
    color: var(--darkmode-text);
}

/* Toast alert */
body.dark-mode #toastAlert,
body.dark-mode .toastAJAX{
    background-color: var(--darkmode-bg-main) !important;
    color: var(--darkmode-text) !important; 
}

/* Index cards */
body.dark-mode .cardIndex h5,
body.dark-mode .cardIndex p,
body.dark-mode .cardIndex i{   
    color: var(--darkmode-text) !important;
}

body.dark-mode .indexContainer h1,
body.dark-mode .indexContainer p{
    color: var(--darkmode-text) !important;
}

body.dark-mode .cardIndex{
    background-color: var(--darkmode-input) !important;
    border: none !important;
}


